* {
  margin: 0;
  padding: 0;
}

.fetured__items {
  max-width: 1600px;
}

.fetured__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
  text-align: center;
}

.fetured__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
  text-align: center;
}

.product__box {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  justify-items: center;
  margin-bottom: 48.5px;
}

.product {
  background: #F8F8F8;
  max-width: 360px;
}

.product__img {
  margin-bottom: 25px;
}

.product__title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__subtitle {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__price {
  margin-bottom: 19px;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.fetured__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 14.5px 38.5px 13.5px;
  display: block;
  margin: 0 auto;
}